/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    padding-bottom: 20px;
}

.drop-area {
    height: 150px;
    width: 100%;
    border: 2px dashed #007bff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.drop-area.drag-over {
    background-color: #cce5ff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

/* CSS additions */
.download-link {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.download-link:hover {
    background-color: #45a049;
}

.hello {
    font-size: 100pt;
}